# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.png

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/build/
ios/Runner.xcworkspace/
xcuserdata/
DerivedData/

# Android
android/.gradle/
android/captures/
android/app/build/
*.keystore
*.jks

# macOS
macos/Flutter/ephemeral/
macos/build/

# Windows
windows/Flutter/ephemeral/
windows/build/

# Linux
linux/Flutter/ephemeral/
linux/build/

# VS Code & IntelliJ
.vscode/
.idea/
*.iml

# Xcode user settings
*.xcuserstate
*.xcuserdatad
*.xcscmblueprint

# Others
pubspec.lock
